body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.weather-card,
.favorites {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* General styles for the input field */
input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin-right: 20px;
}

/* Focus state to give user feedback */
input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.favorite-item {
  margin-top: 10px;
}

.favorite-name {
  cursor: pointer;
}

.favorite-rm-btn {
  margin-left: 14px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.forecast-item {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}
